* {
  box-sizing: border-box;
}

.auditWizardStep1Sing {
  display: flex;
  align-items: flex-start;
  background: #0a0a0a;
  width: 1280px;
  height: 832px;

  .icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--Modal-Border, #ffffff14);
    background: #0f0f0f;

    .container2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      margin-right: -1px;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: #ffffff0f;
      padding-right: 16px;
      padding-left: 16px;
      height: 65px;
      overflow: hidden;

      .text {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 7px;
        box-shadow: 0px 4px 6px -1px #0000001a, 0px 2px 4px -2px #0000001a;
        background: #10b981;
        padding: 7px 9px 10px 10px;

        .o {
          line-height: 11px;
          letter-spacing: -0.28px;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: 900;
        }
      }

      .container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding-top: 1px;
        padding-bottom: 3px;
        width: 46px;
        overflow: hidden;

        .orcaru {
          line-height: 20px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .navigation {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: -1px;
      padding: 12px 8px 4px;

      .dashboard {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Status-Muted, #a1a1aa);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .container4 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        overflow: hidden;
      }

      .sidebarNavigationIte {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 16px;
        padding: 9px 12px;

        .container3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          width: 169px;
          overflow: hidden;
        }
      }

      .sidebarNavigationIte2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 16px;
        padding: 9px 12px;
      }

      .sidebarNavigationIte3 {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-radius: 16px;
        background: var(--Brand-10, #10b9811a);
        padding: 9px 12px;

        .container5 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          overflow: hidden;

          .dashboard2 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Status-Foreground, #fafafa);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .text2 {
          position: absolute;
          top: 9px;
          left: -1px;
          flex-shrink: 0;
          border-radius: 0px 37170400px 37170400px 0px;
          background: var(--Status-Success, #10b981);
          width: 3px;
          height: 20px;
        }
      }

      .sidebarNavigationIte4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 12px;
        border-radius: 16px;
        padding: 9px 12px;
        width: 225px;
      }
    }

    .buttonCollapseSideba {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      margin-right: -1px;
      border-width: 1px 0px 0px;
      border-style: solid;
      border-color: #ffffff0f;
      padding: 22px 18px;

      .icon2 {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }

      .container6 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 1px;
        padding-bottom: 4px;
        width: 50px;
        overflow: hidden;

        .collapse {
          line-height: 16px;
          letter-spacing: 0;
          color: #a1a1aa;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .containerInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    padding: 32px 48px;

    .titleBlock {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 4px;

      .newSocialMediaAudit {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #fafafa;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }

      .analysisStep1Of4 {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #a1a1aa;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .stepperBar {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-top: 32px;
      padding-bottom: 32px;

      .nextSteps {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: 0;
        color: #a1a1aa66;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
      }

      .line {
        flex-grow: 1;
        background: #ffffff14;
        height: 1px;
      }

      .container8 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 32429760px;
        background: #262626;
        width: 27px;
        height: 27px;

        .a12 {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: #a1a1aa80;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .stepperStepperItem {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;
        padding-right: 6px;

        .container7 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 2px solid #10b98166;
          border-radius: 32429760px;
          background: #10b98126;
          width: 27px;
          height: 27px;

          .a1 {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: #10b981;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
          }
        }

        .currentStep {
          flex-shrink: 0;
          line-height: 15px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .stepperStepperItem2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;
        padding-right: 6px;
      }

      .stepperStepperItem3 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        padding-right: 6px;
      }
    }

    .formContentRow {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 48px;

      .formSide {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 24px;

        .plus {
          flex-shrink: 0;
          width: 14px;
          height: 14px;
          overflow: hidden;
        }

        .chevronDown {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          overflow: hidden;
        }

        .instagram2 {
          display: -webkit-box;
          flex-grow: 1;
          overflow: hidden;
          letter-spacing: 0;
          color: #fafafa;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .a3Months {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: #10b981;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .a1Month {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: #a1a1aa;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .analysisPeriod {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .inputField {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #ffffff14;
          border-radius: 12px;
          background: #151515;
          padding: 11px;

          .httpsInstagramComUse {
            display: -webkit-box;
            flex-grow: 1;
            overflow: hidden;
            letter-spacing: 0;
            color: #71717a;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }

        .analysisPeriod2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .periodSelectorGrid {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 12px;

            .frame {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: center;
              border: 1px solid #ffffff14;
              border-radius: 12px;
              background: #1a1a1a;
              padding: 15px;
            }

            .frame2 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: center;
              border: 1px solid #10b981;
              border-radius: 12px;
              background: #10b9811a;
              padding: 15px;
            }
          }
        }

        .profilesSection {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .profileRow1 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 12px;

            .platformDropdown {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border: 1px solid #ffffff14;
              border-radius: 12px;
              background: #1a1a1a;
              padding: 11px 15px;
              width: 140px;

              .instagram {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding: 2px;
                overflow: hidden;

                .vector {
                  border-radius: 3px;
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }

          .addActionRow {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            margin-right: 434px;
            padding-top: 4px;
          }
        }

        .blogWebsitesSection {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .blogWebsiteRow {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 12px;

            .typeDropdown {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border: 1px solid #ffffff14;
              border-radius: 12px;
              background: #1a1a1a;
              padding: 11px 15px;
              width: 140px;
            }
          }

          .addActionRow2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            margin-right: 483px;
            padding-top: 4px;
          }
        }

        .campaignNameSection {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .frame3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border: 1px solid #ffffff14;
            border-radius: 12px;
            background: #1a1a1a;
            padding: 11px;
            height: 52px;

            .enterAnAuditNameToId {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: 0;
              color: #71717a;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 15px;
            }
          }
        }

        .actionButtons {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 12px;

          .frame4 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border: 1px solid #ffffff14;
            border-radius: 8px;
            background: #262626;
            padding: 11px 19px;
            width: 120px;
          }

          .frame5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: #10b981;
            padding: 12px 20px;
            width: 160px;

            .nextStep {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }

      .whyAuditCard {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border: 1px solid #ffffff08;
        border-radius: 16px;
        background: #1a1a1a33;
        padding: 31px;
        row-gap: 24px;

        .content {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .whyAudit {
            flex-shrink: 0;
            line-height: 19px;
            letter-spacing: 0;
            color: #fafafa;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 700;
          }

          .ourAiAuditEngineAnal {
            flex-shrink: 0;
            align-self: stretch;
            width: 243px;
            line-height: 22px;
            letter-spacing: 0;
            color: #a1a1aa;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .bullets {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .bullet1 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 12px;

            .discoverYourBestPerf {
              flex-grow: 1;
              letter-spacing: 0;
              color: #a1a1aa;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
